/* used in NavBar to show profile */
.body{
    overflow-x: hidden;
}
.showprofile{
    background-color: rgb(53, 52, 52);
    /* border: 2px black solid; */
    top:55px;
    right: 50px;
    border-radius: 5px;
}
.cursor1{
    cursor: pointer;
}
.background{
    background-image: url('/src/assets/Two People Greeting.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.homeheading{
    font-size: 100px;
}

.about{
    padding-top: 200px;
}
.aboutheading{
    padding-top: 30px;
}
.aboutpara{
    text-align: justify;
    font-size: 20px;
    padding: 20px 100px 80px;
}
@media screen and (max-width:1200px) {
    .aboutpara{
        padding: 20px 60px 80px;
    }
}
@media screen and (max-width: 769px){
    .homeheading{
        font-size: 80px;
    }
    .aboutpara{
        padding: 20px 10px 80px;
    }
}
@media screen and (max-width: 600px){
    .homeheading{
        font-size: 80px;
    }
    .aboutheading{
        padding-top: 30px;
    }
    .aboutpara{
        text-align: justify;
        font-size: 10px;
        padding: 10px 10px 20px;
    }
}
@media screen and (max-width: 480px){
    .homeheading{
        font-size: 60px;
    }
    .aboutheading{
        padding-top: 30px;
    }
    .aboutpara{
        text-align: justify;
        font-size: 10px;
        padding: 10px 0;
    }
}
@media screen and (max-height: 800px) {
    .about{
        padding-top: 180px;
    }
}
@media screen and (max-height: 700px) {
    .about{
        padding-top: 140px;
    }
}
@media screen and (max-height: 600px) {
    .about{
        padding-top: 40px;
    }
}
@media screen and (max-height: 500px) {
    .about{
        padding-top: 10px;
    }
}
@media screen and (max-height: 400px) {
    .about{
        padding-top: 5px;
    }
}


